<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="serverName" value="DESKTOP-GIFILU2" />
        <add key="secondInterval" value="0.4" />
        <!-- <add key="connectionString" value="Data Source=(DESCRIPTION =(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.8)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ONEMES3HT)));Password=O1234#ONEMES3HT;User ID=ONEMES3HT; Connection Timeout=10;Max Pool Size=7;Min Pool Size=3;Incr Pool Size=1;Decr Pool Size=1;Pooling=true" /> -->
        <add key="connectionString" value="Data Source=(DESCRIPTION =(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.8)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ONEMES3KCB)));Password=O1234#ONEMES3KCB;User ID=ONEMES3KCB; Connection Timeout=10;Max Pool Size=7;Min Pool Size=3;Incr Pool Size=1;Decr Pool Size=2;Pooling=true" />
    </appSettings>
</configuration>